:root {
  --main-color: #ffffff;
  --dark-blue-color: #234460;
  --blue-color: #0f95fc;
  --hover-blue-color: #0a67ad;
  --title-text-color: #0158a3;
  --text-color: #646e80;
  --inactive-color: #c1cad6;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea,
button,
select,
body {
}

.App {
  min-height: 100vh;
  background: radial-gradient(
    circle,
    #ffffff 0%,
    #fffaf7 9.61%,
    #fff3ea 20.33%,
    #f5f3f0 33.39%,
    #ddf3ff 66.38%,
    #d0f1c9 100%
  );
  padding-bottom: 5rem;
  overflow: hidden;
  padding: 1.5rem 3.5rem;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 58.5%;
  }
  .App {
    padding: 1.5rem 1.5rem;
  }
}

.allign-center {
  display: flex;
  align-items: center;
}

.mb-small {
  margin-bottom: 1.2rem;
}

.ml {
  margin-left: 2rem;
}

.mr-small {
  margin-right: 3rem;
}
